*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: josefin Sans;
   
    
}
#header{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url(imagens/background2.jpg);
    background-size: cover;
    background-position: center top 40%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    color: aliceblue;
}

nav .logo{
    padding-top: 20px;
    margin-top: 20px;
    font-size: 2em;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    animation: fadein 2s forwards;
}

.nav-links ul{
    display: flex;
    align-items: center;
    gap:20px;
    list-style: none;
}

.nav-links ul li a{
    align-items: center;
    flex: 1;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.15em;
    transition: all 0.2s linear;
    animation: fadein 2s forwards;
}

.nav-links ul li a:hover{
    color: rgb(2, 225, 225);  
}

.text_header{
    width: 100%;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadein 2s forwards;

}
.text_header p span{
  font-size: 35px;
    font-weight: 900;
}
.text_header p{
    line-height: 40px;
    font-size: 2em;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.button_header_learnMore{
    font-size: 1.5em;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    margin-top: 10px;
    cursor: pointer;
    
}

.button_header_learnMore:hover{
    transition: 0.5s;
    color: rgb(2, 225, 225); 
    box-shadow: 0 0 10px rgb(2, 225, 225);
    border: 1px solid rgb(2, 225, 225);;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4vh;
}

.icons-footer{
  display: flex;
  gap: 50px;

  list-style: none;
  font-size: 23px;

}

.icons-footer li a i {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.icons-footer li a:hover i {
  color: #00bfff;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 767px) {
    nav {
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 15px 10%;
      border-bottom: 1px solid ;

      background-color: rgba(45, 148, 171, 0.5);
      backdrop-filter: blur(2px);
    }
   
    nav .logo{
        width: 60%;
        margin-left: 20px;
    }
    
    .nav-links {
      margin: 5px 5px;
    }
    
    .nav-links ul {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .nav-links ul li {
      margin-bottom: 10px;
    }
    
    .text_header {
      top: 65%;
    }
    
    .text_header p {
      font-size: 1.5em;
    }
    
    .button_header_learnMore {
      font-size: 1.2em;
      padding: 8px 20px;
    }
  }
@media screen and (max-width: 393px){

    .text_header {
        top: 70%;
      }

    .text_header p {
        font-size: 1.2em;
    }

}

@media screen and (max-width: 320px){
    nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 1% 10%;
        border-bottom: 1px solid ;
  
        background-color: rgba(45, 148, 171, 0.5);
        backdrop-filter: blur(2px);
      }

      nav .logo{
        font-size: 20px;
        width: 60%;
        margin-left: 20px;
    }

    .text_header {
        top: 65%;
      }

    .text_header p {
        font-size: 1.1em;
    }

    footer{
      height: 6vh;
    }
}


/* Section about*/

.section-about{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 30px;
  background-size: cover;
  overflow-x: hidden;
  
  background-image: linear-gradient(100deg, rgb(151,210,254, 2) 0%, rgb(159,196,240, 1) 100%);
  border-radius: 10px;

  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;

}


@keyframes fade-in {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}



.moonIcon .frame{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.moonIcon .frame img{
  padding: 10px;
  width: 60px;
  height: auto;
}

.content-section p{
  text-align: center;
  color: #ffffff;
  padding: 60px;
  font-size: 1.5em;
  font-weight: 400;
  
}




@media screen and (max-width: 1024px){
  .section-about{
    width: 100%;
  }
}


@media screen and (max-width: 768px) {

  .section-about {
    flex-direction: column;
    margin: 0;
    background-size: contain;
    width: 100%;
    overflow-wrap: normal;

    
  }

  .content-section p{
    font-size: 1.2em;
    padding: 20px;
  }
}

@media screen and (max-width: 425px) {

  .content-section p{
    font-size: 1em;

  }

  .moonIcon .frame img{
    width: 50px;
  }
  
  
}



/* Section genre*/
  
img{
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
  
}
.genres {
  max-width: 70%; 
  margin: 0 auto; 
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}


@keyframes fade-in {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

.genres {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(100deg, rgb(2, 225, 225, 0.1) 0%, rgb(159,196,240, 1) 100%);
  border-radius: 10px;
  padding: 50px 0;
}

.genres div {
  max-width: 80%;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(6, 33, 45, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.genres div:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 20px rgb(0, 191, 255);
}

.genres div img {
  width: 300px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.genres div:hover img {
  transform: scale(1.1);
}

.genres div h1 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.genres div p {
  margin-top: 10px;
  font-size: 16px;
  padding: 5px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .genres{
    max-width: 100%;
  }

  section.genres div {
    max-width: 100%;
  }
}


/* Section contact*/

#contact {
  height: 75vh;
  width: 100%;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

.section-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 13%; 
}
.cards-section{
  background-image: linear-gradient(100deg, rgb(151,210,254, 0.8) 0%, rgb(159,196,240, 0.8) 100%);
  padding: 0 20px;
  margin: 0 10px;
  width: 33%;
  max-width: 500px;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out
}

.cards-section:hover{
  background-image: radial-gradient(ellipse at center, rgb(0, 191, 255, 1) 0%, rgb(159,196,240, 0.9) 100%);

}

.icons-section{

  text-align: center;
  font-size: 20px;
  line-height: 20px;
  transition: 0.3s linear;
}

.cards-section:hover .icons-section{
  background: none;
  transform: scale(1.4);
}


.cards-section p {
  margin-top: 10px;
  letter-spacing: 0.10em;
  font-weight: normal;
  height: 0;
  opacity: 0;
  transition: all 0.3s linear;
  font-size: 0.8em;
}

.cards-section:hover p{
  max-height: 20px;
  opacity: 1;
}



@media(max-width: 1024px){

  #contact {
    height: 25vh;
  }

  .section-container {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0% 15%;
    margin-top: 100px;
  }

  .cards-section{
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    height: 150px;
  }

  .cards-section p{
    opacity: 1;
    transition: all 0.3s linear;
    font-size: 1em;
    max-height: 30px;
  }
} 

@media(max-width: 768px){

  #contact {
    height: 25vh;
  }

  .section-container {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0% 15%;
    margin-top: 100px;
  }

  .cards-section{
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    height: 150px;
  }

  .cards-section p{
    opacity: 1;
    transition: all 0.3s linear;
    font-size: 0.9em;
    max-height: 30px;
  }
}

@media (max-width: 450px){

  #contact {
    height: 25vh;
  }

  .section-container {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 4% 10%;
  }


  .cards-section{
    margin: 10% 0 0;
    width: 100%;
    max-width: 100%;
    height: 150px;
  }

  .cards-section p{
    opacity: 1;
    transition: all 0.3s linear;
    font-size: 0.8em;
    max-height: 30px;
  }

}
